  .hero-img-investasi {
    background-image: url("https://i.ibb.co/dgyfr01/investasi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
  }